<p>home works!</p>

<!--
  <a href="https://testideahub.auth.us-east-1.amazoncognito.com/login?client_id=4cma8kmoahi0uju2q9pocc8ng8&response_type=code&scope=email+openid+phone&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2FInicio">Login</a>
  
  <br><br><br>
-->

<button (click)="signUp()">signUp</button>
<br><br>
<input type="text" #code>
&nbsp; <button (click)="confirm()">Confirm</button>
<br><br>
<button (click)="getUser()">User</button>
<br> <br>
<button (click)="logout()">Logout</button>
<br> <br>
<button (click)="login()">Login</button>
<br> <br>
<button (click)="delUser()">Delete</button>
